/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background-color: white;
	margin-top: 100px;
	border-color: red;
	border-style: solid;
	border-radius: 20px;
	
}



/*propiedades banner*/

#banner{

border-top-left-radius: 20px;
border-top-right-radius: 20px;

}


#titulo_aside
{

	text-align: center;
	background: #3a7999;
 	color: #f2f2f2;
 	height: auto;
 	width: auto;

}

#imgadoptame
{

	border-radius: 20px;

}


/*ETIQUETAS*/
body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}



header{
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}

section{

	width: 680px;
	height: 630px;
	background-color: #E6E6E6; 
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;

}

p{

text-align: justify;
margin: 10px;

}

h3{

	margin: 10px;

}

footer{

	width: 1000px;
	height: 40px;
	border: none;
 	background: #3a7999;
 	color: #f2f2f2;
 	border-bottom-right-radius: 20px; 
 	border-bottom-left-radius: 20px;
 	text-align: center;


}


aside{

	width: 250px;
	background-color: white;
	height: auto;
	border-radius: 10px;
	border-color: red;
	border-style: solid;
	border-radius: 20px;
	margin: 20px;
	float: right;
	margin-bottom: 20px;

}

/*Barra Menu*/

nav{

background-image: url(../img/bar_menu.jpg);


}


/*Botones Barra Menu*/

button {
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 10px;
 font-size: 18px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
 margin: 30px;
}




button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}


button:hover:before {
 width: 100%;
}



/*Centrar Imagenes*/


IMG.imgcenter{

	  display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      border-radius: 15px;
      }


/* El slideshow */

#slideShowContainer{
	width:510px;
	height:510px;
	position:relative;
	margin:20px auto 50px;
}

#slideShow{
	position:absolute;
	height:490px;
	width:490px;
	background-color:#fff;
	margin:10px 0 0 10px;
	z-index:100;
	-moz-box-shadow:0 0 10px #111;
	-webkit-box-shadow:0 0 10px #111;
	box-shadow:0 0 10px #111;
}

#slideShow ul{
	position:absolute;
	top:15px;
	right:15px;
	bottom:15px;
	left:15px;
	list-style:none;
	overflow:hidden;
}

#slideShow li{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#slideShowContainer > a{
	border:none;
	text-decoration:none;
	text-indent:-99999px;
	overflow:hidden;
	width:36px;
	height:37px;
	background:url('../img/arrows.png') no-repeat;
	position:absolute;
	top:50%;
	margin-top:-21px;
}

#previousLink{
	left:-38px;
}

#previousLink:hover{
	background-position:bottom left;
}

a#nextLink{
	right:-38px;
	background-position:top right;
}

#nextLink:hover{
	background-position:bottom right;
}






